/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
      width: 100%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
    .card {
      width: 30%;
    }
    .card2{
      width: 40%;
    }
    .no3{
      width: 24%;
      font-size: 13px;
    }
    .card2 table h3{
      text-align: justify;
      font-size: 12px;
    }

    .location-wrapper heading{
    padding-top: 80px;
    padding-bottom: 50px;
    }

    .heading .judul{
      font-size: 35px;
    }

    .map-logo{
      top: 3390px;
      right: 90px;
      width: 20%;
    }
    .maps iframe{
      width:200%;
  
    }
    .card .profile h3{
      text-align: center;
    }
    .profile img{
      width: 76%;
      height: 76%;
      margin: 10px 30px;
    }
    footer p{
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 60px 30px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    }
    .profile{
    padding: 7px;

    }

  }
  
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    .card {
      width: 100%;
      margin-bottom: 20px;
    }
    .card2 {
      width: 100%;
      margin: 20px 0px;
    }
    .profile img {
      width: 80%;
      height: 80%;
      margin-top: 50px;
      margin-left: 50px;
      margin-right: 50px;
  }

  .card .profile h3 {
    text-align: center;
    font-size: 30px;
    margin-block-start: 0;
  } 
  .card2 table h3 {
    text-align: justify;
    font-size: 18px;
}
  .card2 table {
    padding-left: 50px;
}
    .location-wrapper{
      padding-left: 50px;
      padding-right: 50px;
      float: none;
    }
    .map-logo{
      top: 6000px;
      right: 250px;
      width: 25%;
    }
    .maps iframe{
      width:670px;

    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: center;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  }